name: build

on:
  push:
    tags:
      - '*'

permissions:
  contents: write


jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Build Debian Package
        run: |
          make
          mkdir dist
          cp build/xfce-gnome-portal.deb "dist/xfce-gnome-portal-${{ github.ref_name }}-all.deb"

      - name: Release
        uses: softprops/action-gh-release@v2
        if: startsWith(github.ref, 'refs/tags/')
        with:
          files: |
            ./dist/*.deb
